<div class="d-flex flex-row">
    <div class="border form-group text-white" style="width: 500px;" 
    [ngStyle]="{
        'background-color':testObj['@color'],
        'font-size':testObj['@fontSize']+'px'
    }">
        <app-params
            [obj]="testObj"
        ></app-params>
    </div>
    <form (change)="onChange($event)">
        <div class="border form-group border" style="width: 400px">
            <app-attribute
                *ngFor="let attr of testObjAttr"
                [field]="attr"
                [formGrp]="formGroup"
            ></app-attribute>
        </div>
    </form>
</div>