<div [formGroup]="formGrp">
    <label *ngIf="config?.type !== 'checkbox'">
        {{field['name']}}
    </label>

    <div *ngIf="config?.type == 'code'; else defAttr" class="form-group">
        <div [ngClass]="{
            'editor-container':!editorFullScreen,
            'editor-full-screen': editorFullScreen}">
            <ngx-monaco-editor [ngStyle]="{
                'width': editorFullScreen ? '100vw':'100%',
                'height': editorFullScreen ? '100vh':'200px'
            }"
                (keydown)="keyDown($event)"
                [options]="config.options" [formControlName]="field['name']">
            </ngx-monaco-editor>
        </div>
    </div>
    <ng-template #defAttr>
        <div [ngSwitch]="config?.type">
            <div *ngSwitchCase="'select'" class="form-group">
                <select [formControlName]="field['name']" class="form-control">
                    <option *ngFor="let opt of config.options" [value]="opt['value']"
                        [selected]="opt['value'] == field['value'] ? true : false">
                        {{opt['label']}}
                    </option>
                </select>
            </div>
            <div *ngSwitchCase="'number'" class="form-group">
                <input type="number" [min]="config.options['min']" [max]="config.options['max']"
                    [step]="config.options['step'] || 1" [formControlName]="field['name']" class="form-control" />
            </div>
            <div *ngSwitchCase="'checkbox'" class="form-check">
                <input type="checkbox" [formControlName]="field['name']" [checked]="field['value']"
                    class="form-check-input" />
                <label> {{ field['name']}} </label>
            </div>


            <div *ngSwitchDefault class="form-group">
                <input type="text" [formControlName]="field['name']" class="form-control" />
            </div>
        </div>
    </ng-template>
</div>
